.signature {
  position: absolute;
  bottom: 4%;
  right: 2%;
}

svg {
}
path {
  d: path(
    'M 8.54543 178.22 C 11.2778 156.361 36.592 141.612 42.4966 138.217 C 57.8636 129.381 75.923 127.125 90.1256 126.562 C 88.5481 128.49 83.4445 132.657 82.3697 133.613 C 74.0374 141.019 65.6757 148.391 57.6919 156.175 C 55.6691 158.147 53.6211 160.098 51.6987 162.168 C 50.3872 163.581 33.7756 181.307 35.6041 180.698 C 39.2999 179.466 63.6793 145.616 69.5396 143.104 C 69.8811 142.958 46.6587 176.504 50.2157 175.559 C 52.9771 174.825 70.9322 150.51 74.9716 148.55 C 77.9127 147.122 71.761 157.738 70.1003 160.506 C 67.8861 164.197 65.9907 167.599 66.5576 167.444 C 70.599 166.342 79.2231 154.469 82.4998 152.83 C 86.4062 150.877 81.2344 159.473 82.057 159.473 C 90.9418 159.473 97.4248 155.223 106.342 154.06 C 119.279 152.373 118.728 154.358 131.689 152.873 C 139.701 151.955 147.525 151.497 155.562 149.889 C 158.567 149.288 148.168 151.843 145.117 152.127 C 139.238 152.676 128.218 151.354 122.364 152.127 C 101.317 154.907 65.6072 162.367 39.9871 167.592 C 37.3895 168.121 41.641 165.801 38.8062 164.935'
  );
  fill: none;
  fill-rule: nonzero;
  stroke: rgb(0, 0, 0);
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  stroke-dashoffset: 0;
  font-family: none;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 127.41476, -32.8581);
  height: 200px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s ease-in forwards;
  animation-delay: 4.3s;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
