.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  .h1 {
    position: relative;
    top: -4%;
  }
  .h2 {
    position: relative;
    top: -7.5%;
  }
}
